<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css"
    <title>Document</title>
  </head>
  <body>
    <div class="form">
      <form class="form-horizontal signin">
        <div class="form-wrap" style="position: relative">
          <h2>Login</h2>
          <div class="form-group">
            <!-- <label for="email">Username:</label> -->
            <div class="relative">
              <input
                class="form-control"
                id="name"
                type="text"
                required=""
                autofocus=""
                title=""
                autocomplete=""
                placeholder="Username"
              />
              <i class="fa fa-user"></i>
            </div>
          </div>

          <div class="form-group">
            <!-- <label for="email">Password:</label> -->
            <div class="relative">
              <input
                class="form-control"
                type="password"
                required=""
                placeholder="Password"
              />
              <i class="fa fa-key"></i>
            </div>
            <span class="pull-right"
              ><small><a href="#">Forgot Password?</a></small></span
            >
          </div>

          <div class="login-btn">
            <a href="#"
              ><button class="movebtn movebtnsu" type="Submit">
                Login <i class="fa fa-fw fa-lock"></i></button
            ></a>
            <div class="relative">
              <hr />
              <span class="login-text">or login with</span>
            </div>
            <div class="clearfix"></div>
            <div class="social-btn clearfix">
              <a href="#"
                ><button class="movebtn google" type="Submit">
                  Google <i class="fa fa-fw fa-google"></i></button
              ></a>
              <a href="#"
                ><button class="movebtn facebook" type="Submit">
                  Facebook <i class="fa fa-fw fa-facebook"></i></button
              ></a>
            </div>
          </div>
        </div>
        <div class="sign-up">
          <a href="#" class="signbtn"
            ><small>Not a member? Sign Up <i>(Click me)</i></small></a
          >
        </div>
      </form>
    </div>
  </body>
</html>
