<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./App.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Vibur&display=swap" rel="stylesheet"> 
    <title>Cards-Neon</title>
</head>

<body>
    
    <div class="card c1">
        <div class="Theme-1E-w">Hacktoberfest</div>
    </div>
    <div class="card c1">
        <div class="Theme-1E-b">Hacktoberfest</div>
    </div>
    <div class="card c2">
        <div class="Theme-2E">Hacktoberfest</div>
    </div>
    <div class="card c3">
        <div class="Theme-3E">Hacktoberfest</div>
    </div>
    <div class="card c4">
        <div class="Theme-4E">Hacktoberfest</div>
    </div>
    <div class="card c1">
        <div class="Theme-1V-w">Hacktoberfest</div>
    </div>
    <div class="card c1">
        <div class="Theme-1V-b">Hacktoberfest</div>
    </div>
    <div class="card c2">
        <div class="Theme-2V">Hacktoberfest</div>
    </div>
    <div class="card c3">
        <div class="Theme-3V">Hacktoberfest</div>
    </div>
    <div class="card c4">
        <div class="Theme-4V">Hacktoberfest</div>
    </div>
</body>

</html>