<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Card</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="profileCard">
      <div class="cardHeader">
        <div class="pic">
          <img src="dp.jpg" alt="" />
        </div>
        <div class="name">Dummy Name</div>
        <div class="desc">Developer & Designer</div>
        <div class="sm">
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-github"></a>
          <a href="#" class="fab fa-youtube"></a>
        </div>
        <a href="#" class="contactBtn">Contact Me</a>
      </div>
      <div class="cardFooter">
        <div class="numbers">
          <div class="item">
            <span>120</span>
            Posts
          </div>
          <div class="border"></div>
          <div class="item">
            <span>127</span>
            Following
          </div>
          <div class="border"></div>
          <div class="item">
            <span>120K</span>
            Follower
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
