.css{
  position: fixed;
}


*{
  margin: 0;
  padding: 0;
  
}

html{
  scroll-behavior: smooth;
}

:root{
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before{
  content: "";
  background-color: rgb(252, 250, 250);
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  opacity: 0.7;
}
#logo{
  margin: 20px 34px;
}

#logo img{
  height: 100px;
  margin: 3px 6px;
}
#navbar ul{
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: rgb(17, 16, 16);
  display: block;
  padding: 2px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: black;
  background-color: white;
}
#home{
  display: flex;
  flex-direction: column;
  padding:3px 200px;
  height: 550px;
  justify-content: left ;
  align-items: left r;
}

#home::before{ 
  content: "";
  position: absolute;
  background: url('background\ image.jpeg') no-repeat center center/cover;
  height: 642px;
  top:0px;
  left:0px;
  width: 100%;
  z-index: -1;
  opacity:0.89;
}

#home h1{
  color:rgb(31, 29, 29);
  text-align: left;
  font-family: 'Bree Serif', serif;
}

#home p{
  color:rgb(250, 8, 117);
  text-align: left;
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
}
#Solutions{
  margin: 34px;
  display: flex;
}
#Solutions .box{ 
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

#Solutions .box img{ 
 height: 160px;
 margin: auto;
 display: block;
}

#Solutions .box p{
  font-family: 'Bree Serif', serif;

} 
.bd-placeholder-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
#contact{
  position: relative;
  
}
#contact::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url('background\ contact.jpg') no-repeat center center/cover;
  
}
#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
} 

#contact-box form{
  width: 40%;
}

#contact-box label{
 font-size: 1.3rem;
 font-family: 'Bree Serif', serif;

}


footer{
  background: black;
  color: white;
  padding: 9px 20px;
}



.h-primary{
  font-family: 'Bree Serif', serif;
  font-size: 3.8rem;
  padding: 12px;
}

.h-secondary{
  font-family: 'Bree Serif', serif;
  font-size: 2.3rem;
  padding: 12px;
}

.btn{
  padding: 6px 20px;
  border: 1px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor:pointer;
}

.center{
  text-align: center;
}
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }