<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"rel="stylesheet">
    <title>FAQ-Template</title>
</head>
<body>
    <header>
      <div class="p">
        <div class="Heading">
            <h1>Faq Template</h1>
        </div>
        <div class="FaqList">
            <div class="faq">
                <ul class="faq-list">
                    <li class="Q"><h2>Q : Sample Question ?</h2></li>
                    <li class="A"><h3>A : Sample Answer</h3></li>
                </ul>
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
            </div>
            <div class="faq">
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
            </div>
            <div class="faq">
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
            </div>
            <div class="faq">
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
            </div>
            <div class="faq">
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
                <ul class="faq-list">
                    <li class="Q">
                        <h2>Q : Sample Question ?</h2>
                    </li>
                    <li class="A">
                        <h3>A : Sample Answer</h3>
                    </li>
                </ul>
            </div>
        </div>
    <div>
    </header>
</body>
</html>