body {
  background-color: rgb(77, 2, 95);
  overflow-x: hidden;
}
.p {
  display: flex;
  flex-direction: column;
}
.faqList {
  display: flex;
  flex-direction: column;
  background-color: rgb(176, 31, 233);
  width: auto;
  height: auto;
  margin: 10%;
  margin-top: 5%;
}
.faq {
  margin-bottom: 2px;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
}
.faq-List {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 15%;
}
.Q {
  height: auto;
  width: auto;
}

.Heading {
  display: flex;
  position: absolute;
  width: auto;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 400%;
  text-transform: uppercase;
  word-spacing: 4px;
  color: #fff;
}

h2 {
  margin-top: 10px;
  font-size: 200%;
  font-family: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  word-spacing: 2px;
  font-weight: 400;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
  font-size: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 600;
  color: rgba(58, 6, 82, 0.801);
}

@media only screen and (max-width: 1200px) {
  .Heading {
    top: 5%;
  }
  h1 {
    font-size: 350%;
  }
  h2 {
    font-size: 180%;
  }
  h3 {
    font-size: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .Heading {
    top: 4%;
  }
  h1 {
    font-size: 300%;
  }
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .Heading {
    top: 3%;
  }
  h1 {
    font-size: 200%;
  }
  h2 {
    font-size: 100%;
  }
  h3 {
    font-size: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .Heading {
    top: 2%;
  }
  h1 {
    font-size: 100%;
  }
  h2 {
    font-size: 80%;
  }
  h3 {
    font-size: 30%;
  }
}
