<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./images/icons8-placeholder-thumbnail-xml-50.png">
</head>
<body onload="script()">
    <nav class="navbar navbar-shadow" id="top">
        <h2 id="title">Welcome</h2>
        <div class="nav-links">
            <a href="#skills">
        <button class="buttons buttons-nav">Skills</button>
        </a>
        <a href="#socials">
        <button class="buttons buttons-nav">Socials
            </a>
    </button>
    <a href="#about">
        <button class="buttons buttons-nav">About Me
        </button>
        </a>
        <a href="#contact">
        <button class="buttons buttons-nav">Contact Me</button>
        </a>
    </nav>
    <section id="about">
    <div class="card">
        <img id="myphoto" class="card-elem responsive-card card-effect" src="./images/jordan-mcqueen-MQeiqCk_Op8-unsplash.jpg" alt="myphoto">
        <img id="gif" class="card-elem responsive-card card-effect" src="https://media.giphy.com/media/a6pzK009rlCak/giphy.gif" alt="">
        <div class="card-effect container card-elem">
            <p id="para"></p>
        </div>
    </div>
</section>
<section id="skills">
    <div class="skills-logo">
    <img class="logo-animation" src="./skills logo/icons8-html-50.png" alt="">
    <img class="logo-animation" src="./skills logo/icons8-css3-50.png" alt="">
    <img class="logo-animation" src="./skills logo/icons8-javascript-50.png" alt="">
    <img class="logo-animation" src="./skills logo/icons8-c-plus-plus-50.png" alt="">
    <img class="logo-animation" src="./skills logo/icons8-github-50.png" alt="">
    </div>
</section>
    <section id="contact">
        <form class="contact-form">
            <input class="form-items" type="text" placeholder="Name">
            <input class="form-items" type="email" placeholder="Email Address">
            <textarea class="form-items" name="textarea" cols="30" rows="5" placeholder="Anything You Want To Say."></textarea>
            <input class="form-items" type="submit" id="submit">
        </form>
    </section>
    <br>
    <div class="navbar footer navbar-shadow">
        <div class="footer-grid" >
        <div class="footer-logos" id="socials">
            <a href="#" target="_blank"><button class="grid-item grid-item-1 logos buttons"><img src="./socials logo/icons8-instagram-100.png" alt="instagram logo"></button>
            </a>
            <a href="#" target="_blank">
                <button class="logos buttons grid-item grid-item-2"><img src="./socials logo/icons8-snapchat-100.png" alt="snap logo"></button>
            </a>
            <a href="#" target="_blank">
                <button class="logos buttons grid-item grid-item-3"><img src="./socials logo/icons8-linkedin-100.png" alt="linkedin logo"></button>
            </a>
            <a href="#" target="_blank">
                <button class="logos buttons grid-item grid-item-4"><img src="./socials logo/icons8-github-100.png" alt="github logo"></button>
            </a>
        </div>
        <p class="copyright grid-item grid-item-5">Copyright &copy;2027-All Rights Reserved</p>
    </div>
    <script src="index.js" ></script>
</body>
</html>