/*BASIC SETUP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* REUSABLE COMPONENTS */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1px;
}

/* HEADINGS */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* paragraph */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  line-height: 145%;
  font-size: 90%;
}

/* icons */

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;

  /* secrets to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;

  margin-right: 10px;
}

/* LINKS */

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding-bottom: 1px;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* BUTTONS */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active,
input[type="submit"] {
  border: 1px solid #e67e22;
  color: #fff;
}

/* HEADER */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo-black {
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
  display: none;
}

/* main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 5px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* mobile navi*/
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* sticky navi */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  color: black;
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 15px 0;
  color: #555;
}

.sticky .logo {
  display: none;
}
.sticky .logo-black {
  display: block;
}

.sticky .main-nav {
  margin-top: 16px;
}
/* FEATURES */

.section-features .long-copy {
  margin-bottom: 30px;
}

/* MEALS */
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* HOW IT WORKS */

.section-steps {
  background-color: #f4f4f4;
}

.step-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.step-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.step-box:last-of-type {
  margin-bottom: 80px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  display: inline-block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 7px;
  float: left;
  margin-right: 25px;
  font-size: 150%;
}

.btn-app:link,
.btn-app:visited {
  border-bottom: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* CITIES */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

/* TESTIMONIALS */

.section-testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* PLANS */

.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
  /*box-shadow:(x-axis y-axis blur color); */
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}
.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/* FORM */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

.form-messages {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #000;
}

.success {
  background-color: rgba(38, 191, 68, 0.8);
}
.error {
  background-color: rgba(209, 46, 46, 0.8);
}
/* FOOTER */
 footer{
  height: 32vh;
  width: 100vw;
 }
.foot{
  width: 100%;
  height: 100%;
  background-color: #112B3C;
}
.foot1{
  position: relative;
  color: rgb(249, 235, 200);
  top: 100px;
  left: 150px;
  height: 150px;
  width: 150px;
  text-align: left;
}
.footh{
 
  font-weight: bold;
}
.footi{
  font-size: 14px; 
}
.foot11{
  position: relative;
  top: 20px;
  
}
.foot12{
  
  position: relative;
  top: 24px;
}
.foot13{
  
  position: relative;
  top: 28px;
}
.foot2{
  position: relative;
  color: rgb(249, 235, 200);
  top: -69px;
  left: 300px;
  height: 150px;
  width: 150px;
  text-align: left;
}


.foot21{
  position: relative;
  top: 20px;
  
  
}
.foot22{
  
  position: relative;
  top: 22px;
}
.foot23{
  
  position: relative;
  top: 24px;
}
.foot3{
  position: relative;
  color: rgb(249, 235, 200);
  top: -221px;
  left: 600px;
  height: 150px;
  width: 150px;
  text-align: left;
}


.foot31{
  position: relative;
  top: 20px;
  
  
}
.foot32{
  
  position: relative;
  top: 22px;
}
.foot33{
  
  position: relative;
  top: 24px;
}
.copyright{
  width: 158px;
  position: relative;
  bottom: 300px;
  left: 980px;
}
.fb{
  font-size: 52px;
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 420px;
  right: -890px;
  border-radius: 44px;

}
.ins{
  font-size: 52px;
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 470px;
  right: -980px;
  border-radius: 44px;

}
.in{
  font-size: 52px;
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 520px;
  right: -1070px;
  border-radius: 44px;

}
.tw{
  font-size: 52px;
  position: relative;
  height: 50px;
  width: 50px;
  bottom: 570px;
  right: -1160px;
  border-radius: 44px;
}
