<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A simple navbar</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../a simple nice navbar/images/icons8-venn-diagram-48.png" alt="">
        </div>
        <ul class="nav-list" id="list">
            <li><a href="#" class="normal">Home</a></li>
            <li><a href="#" class="normal">About us</a></li>
            <li><a href="#" class="normal">Tour</a></li>
            <li ><a href="#"class="login">Login/Sign up</a></li>
        </ul>
        <img class="menu"  onclick="showMenu()" src="../a simple nice navbar/images/menu icon.png" alt="">
    </nav>
    <script src="script.js"></script>
</body>
</html>