<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Responsive Design</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Sample Card View Using Flex</h1>
    <div class='container'>
        <div class="card">
            <img src="../../img/img/img1.jpg">
            <span class="price">$20</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img2.jpg">
            <span class="price">$25</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img3.jpg">
            <span class="price">$15</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img4.jpg">
            <span class="price">$30</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img1.jpg">
            <span class="price">$20</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img2.jpg">
            <span class="price">$20</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img3.jpg">
            <span class="price">$20</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img4.jpg">
            <span class="price">$20</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>
        <div class="card">
            <img src="../../img/img/img1.jpg">
            <span class="price">$20</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div><div class="card">
            <img src="../../img/img/img2.jpg">
            <span class="price">$20</span>
            <a href="https://www.amazon.in/Lancer-Running-Shoes-9-India-INDUS-26LGR-RBL-9/dp/B07FG7SYWF/ref=asc_df_B07FG7SYWF/?tag=googleshopdes-21&linkCode=df0&hvadid=396988846071&hvpos=&hvnetw=g&hvrand=12103175069738604064&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062193&hvtargid=pla-841008878876&psc=1&ext_vrnc=hi" target="_blank"><button>Buy here</button></a>
        </div>

    </div>
</body>
</html>