<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Timeline</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Timeline</h1>
        </div>
        <div class="parent">

            
            <div class="empty-begin" data-aos="fade-up"></div>

            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>
            
            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty" data-aos="fade-up"></div>
           
            <div class="card" data-aos="fade-up">
                <div class="event-name"><i class="fa fa-bookmark" aria-hidden="true"></i>Event</div>
                <div class="upper">
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>15 October</div>
                    <div class="time"><i class="fa fa-hourglass-start" aria-hidden="true"></i>00:00</div>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto deleniti quo unde fugiat dicta veniam, dolores 
                        nisi totam sed rerum id ad autem est. Voluptatum nihil 
                        fugiat quae est qui.
                    </p>
                </div>
            </div>

            <div class="empty-end"></div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>  
</body>
</html>