<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Responsive Card</title>
    <link rel="stylesheet" href="./card.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <div class="cardCon">
      <div data-aos="fade-up" class="card">
        <div class="cardHeading">
          <img
            class="effect"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoOEc1Q24RUhMRAHzJLbsGWrWhMCRyd6HYQ&usqp=CAU"
            alt="suss"
          />
        </div>
        <div class="cardBody">
          <h4>Hello My name is red and I like to be a good crewmate.</h4>
          <p>What? I was in admin doing my task!</p>
        </div>
      </div>
      <div data-aos="fade-up" class="card">
        <div class="cardHeading">
          <img
            class="effect"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoOEc1Q24RUhMRAHzJLbsGWrWhMCRyd6HYQ&usqp=CAU"
            alt="suss"
          />
        </div>
        <div class="cardBody">
          <h4>Hello My name is red and I like to be a good crewmate.</h4>
          <p>What? I was in admin doing my task!</p>
        </div>
      </div>
      <div data-aos="fade-up" class="card">
        <div class="cardHeading">
          <img
            class="effect"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoOEc1Q24RUhMRAHzJLbsGWrWhMCRyd6HYQ&usqp=CAU"
            alt="suss"
          />
        </div>
        <div class="cardBody">
          <h4>Hello My name is red and I like to be a good crewmate.</h4>
          <p>What? I was in admin doing my task!</p>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
