<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Card</title>
    <link rel="stylesheet" href="./card.css">
  </head>
  <body> 
    <div class="cardCon">
      <div class="card">
        <div class="cardHeading">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoOEc1Q24RUhMRAHzJLbsGWrWhMCRyd6HYQ&usqp=CAU" alt="rover" />
        </div>
        <div class="cardBody">
          
          <h4>
            Hello My name is red and I like to be a good crewmate.
          </h4>
          <p>
            What? I was in admin doing my task!
          </p>
         
        </div>
      </div>
      <div class="card">
        <div class="cardHeading">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoOEc1Q24RUhMRAHzJLbsGWrWhMCRyd6HYQ&usqp=CAU" alt="rover" />
        </div>
        <div class="cardBody">
          
          <h4>
            Hello My name is red and I like to be a good crewmate.
          </h4>
          <p>
            What? I was in admin doing my task!
          </p>
         
        </div>
      </div>
      <div class="card">
        <div class="cardHeading">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoOEc1Q24RUhMRAHzJLbsGWrWhMCRyd6HYQ&usqp=CAU" alt="rover" />
        </div>
        <div class="cardBody">
          
          <h4>
            Hello My name is red and I like to be a good crewmate.
          </h4>
          <p>
            What? I was in admin doing my task!
          </p>
         
        </div>
      </div>
    </div>
    
  

	
  </body>
</html>