<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Student Details</title>
</head>

<body>
    <div class="box">
        <img src="1.jpg" alt="" class="box-img">
        <ul class="one">
            <li>NAME : Annie Marie</li>
            <li>FATHER'S NAME : Chris Marie</li>
            <li>MOTHER'S NAME : Brayn Marie</li>
            <li>DATE OF BIRTH : 02/11/1990</li>
            <li>GENDER : Female</li>
            <li>NATIONALITY : American</li>
            <li>GRADUATION YEAR : 2012</li>
            <li>RELIGION : Christian</li>
            <li>QUALIFICATION : B.Tech (Computer Science)</li>
            <li>EMAIL : annie455afk@gmail.com</li>
            <li>PHONE NO. : +1-2217281029</li>
            <li>ADDRESS : Washington , D.C. ,USA</li>
            <li>ADDRESS : Washington , D.C. ,USA</li>
        </ul>
    </div>
</body>

</html>