<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar dropdow</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="content">

                <div class="logo"><a href="#">ayan gupta</a></div>
                <ul class="links">
                    <li><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">feature</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">feedback</a></li>
                </ul>
            </div>
            <div class="search-icon"><i class="fas fa-search"></i></i></div>
            <form action="#" class="search-box">
                <input type="text" placeholder="type something to search...">
                <button class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
            </form>
            </nav>
    </div>

    
</body>
</html>