*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.wrapper{
    background-color: rgb(1, 2, 1);
    position: fixed;
    width: 100%;

}
.wrapper nav{
    display: flex;
    /* background: red; */
    position: relative;
    max-width: calc(100% - 200px);
    margin: 0 auto;
     height: 70px;
    justify-content: space-between;
} 
 nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 80px;
    display: flex;

} 
.content .links li{
    list-style: none;
}
.content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.content .links li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  /* background: red; */
  padding: 7px 17px;
  border-radius: 5px;
  transition: all 0.3 ease;
}
.content .links li:hover a{
    background-color:red;
}
.wrapper .search-icon{
color: #fff;
font-size: 18px;
cursor: pointer;
line-height: 70px;
width: 70px;
text-align: center;
}

.wrapper .search-box{
    position: absolute;
    height: 100px;
    max-width: calc(100% - 50px);
    width: 100%;
    display: none;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
}
.search-box input::placeholder{
    color: #f2f2f2;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50;
    transform: translate(-50%);
    line-height: 70px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color:#fff;

}