<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>USER NAME</title>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>
    </ul>
  </div>
</nav>
		<!-- navbar -->
		<!-- page container full -->
			<!-- Sub-part1 -->
				<div class="Sub-part1">
					<!-- background image -->
					<div class="background-image d-flex align-items-center justify-content-center">

						<!-- background image -->
						<div class="text-center">
							<div class="background-container" data-aos="fade-right"  data-aos-duration="3000">
								<h1 class="text-center text-input intro-name">User Name </h1>
								<span class="line"></span>
								<h3 class="intro-text">Description of the user</h3> 
							</div>
						</div> 
					</div>
				</div>
			<!--end Sub-part1 -->
		<!-- container start  -->
		<!-- about us  -->
		<div class="aboutus d-flex">
				<div class="image-container-aboutpage" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500" >
				</div>
				<div class="aboutus-sub">
				 <div class="head-title">
				   <h1 class="head-title-aboutus"  data-aos="zoom-out" data-aos-easing="linear"  data-aos-duration="1500">PROFILE</h1>
				 </div>
				 <div class="content-text">
				 	<span class="sub-content-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus atque odit, aut rerum sed esse, deserunt, consequuntur in iste, delectus eos sapiente dolor voluptas quod quas vel est laborum! Quibusdam.</span>
				 </div>
				</div>
		</div>
		<!-- about us -->
		<!-- what I do  -->
		<div class="section-3">
			<h1 class="text-center py-4">What I Do?</h1>
			<div class="container-fluid">
				<!-- endfirst -->
					<div class="content-head-container d-flex " data-aos="fade-right" data-aos-duration="1500">
							<div class="sub-content-image-container pl-3">
									<img src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="" class="image">
							</div>
							<div class="px-5">
									<h2 class="">Motivator</h2>
									<div class="sub-content-containertext">
										<h5 class="sub-content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsa, accusantium vitae unde quasi ipsum, pariatur eos dignissimos aliquid! Nesciunt veritatis ad error ratione incidunt voluptates tempore ullam doloribus minus?</h5>
									</div>
							</div>
					</div>
					<!-- end 2 -->
							<div class="content-head-container d-flex" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="300"
     data-aos-offset="0">
								<div class="px-4 pt-4">
									<h2 class="">Software Developer</h2>
									<div class="sub-content-containertext">
										<h5 class="sub-content-text">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ducimus consectetur dignissimos aut ut a ipsum facilis aliquid asperiores eius, laudantium odio quae amet laboriosam minus eveniet voluptatem recusandae alias adipisci.</h5>
									</div>
								</div>
								<div class="sub-content-image-container pl-3">
									<img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" class="image">
								</div>
							</div>
					<!-- end -->
						<!--start3 -->
					<div class="content-head-container d-flex" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="300"
     data-aos-offset="0">
							<div class="sub-content-image-container pl-3">
									<img src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="" class="image">
							</div>
							<div class="px-5">
									<h2 class="">Designer</h2>
									<div class="sub-content-containertext">
										<h5 class="sub-content-text">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Odit earum rem aliquam et exercitationem, in nam dolor obcaecati, eum voluptatem illum tenetur incidunt, provident ex ratione minima ipsum accusantium, quaerat.</h5>
									</div>
							</div>
					</div>
					<!-- end3 -->
			</div>
		</div>
		<!-- what I do  -->
		<!-- project work -->
			<div class="project-div">
				<div class="sub-content-project-head">
					<h1 class="head-title-project">Project</h1>
					<div class="hr-tag"></div>
				</div>
				<div class="sub-content-project-section d-flex justify-content-between">
					<div class="project-section01" data-aos="fade-up"
     data-aos-duration="1000">
						<div class="project-section-img-container">
							<img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGRhdGElMjBhbmFseXRpY3MlMjB1c2luZyUyMHB5dGhvbnxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="image">
						</div>
						<div class="project-section-text-content">
							<h4 class="project-section-title">project title</h4>
							<p class="project-section-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						</div>
					</div>
					<!-- end part 1 -->
					<!-- start part2 -->
					<div class="project-section01" data-aos="fade-up"
     data-aos-duration="2000" >
						<div class="project-section-img-container">
							<img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGRhdGElMjBhbmFseXRpY3MlMjB1c2luZyUyMHB5dGhvbnxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="image">
						</div>
						<div class="project-section-text-content">
							<h4 class="project-section-title">project title</h4>
							<p class="project-section-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				<!-- end part2 -->
					<!-- start part2 -->
					<div class="project-section01" data-aos="fade-up"
     data-aos-duration="3000">
						<div class="project-section-img-container">
							<img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGRhdGElMjBhbmFseXRpY3MlMjB1c2luZyUyMHB5dGhvbnxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="image">
						</div>
						<div class="project-section-text-content">
							<h4 class="project-section-title">project title</h4>
							<p class="project-section-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
						</div>
					</div>
				<!-- end part2 -->
				</div>

			</div>
		

		<!-- footer -->

  <footer class="text-center text-lg-start" style="background-color:#0c184d;">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-twitter"></i>
      </button>
    </div>
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Name @ 2021 Copyright:
      <a class="text-white" href="#">Name of user</a>
    </div>

  </footer>

		<!-- footer -->

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
	</body>
</html>