<link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">  <!-- font linking -->
<link rel="stylesheet" href="styling.css"> <!-- link css -->

<div class = "flex-container">
    <div class = "coantainer">
        <h1>Register with us</h1> <!-- heading -->
        <form>
        <p class="lead">Enter your Email to join <strong>100</strong> others on the waitlist.</p> <!-- email heading -->
        <input type="text" class="form" placeholder="Enter your Email"> <!-- has a box -->
        <button>Join Now</button>
        </form>
    </div>
</div>
