<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./style.css" />
    <title>Mind & Body</title>
</head>

<body>
    <section class="front-page">
        <img class="hero" src="./assets/hero.png" alt="meditation" />
        <nav>
            <div class="logo">
                <img src="./assets/logo.svg" alt="mind and body" />
                <h1>mind & body</h1>
            </div>
            <div class="links">
                <a href="#classes">classes</a>
                <a href="#classes">practice</a>
                <a href="#our-story">our story</a>
            </div>
            <svg width="44" height="18" viewBox="0 0 44 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line class="line" y1="1" x2="44" y2="1" stroke="white" stroke-width="2" />
                <line class="line" y1="9" x2="27" y2="9" stroke="white" stroke-width="2" />
                <line class="line" y1="17" x2="11" y2="17" stroke="white" stroke-width="2" />
            </svg>
        </nav>
        <div class="selling-point">
            <h2>Let your mind breathe.</h2>
            <h3>
                Get unlimited acces to yoga, pilates, and meditation classes that fit
                the way you feel.
            </h3>
            <div class="ctas">
                <button class="cta-sec">Explore classes</button>
                <button class="cta-main">
                    <a href="https://koalendar.com/e/meet-with-mohasin-haque" target="_blank">Sign up today</a>
                </button>
            </div>
        </div>
    </section>

    <section id="classes" class="classes">
        <div class="classes-description">
            <h2>Classes tailored for you</h2>
            <h3>It's time to heal your mind and body</h3>
        </div>
        <div class="videos">
            <div class="pilates">
                <h3>Pilates</h3>
                <video muted loop class="video" src="./assets/pilates.mp4"></video>
            </div>
            <div class="yoga">
                <h3>Yoga</h3>
                <video muted loop class="video" src="./assets/yoga.mp4"></video>
            </div>
            <div class="meditation">
                <h3>Meditation</h3>
                <video muted loop class="video" src="./assets/meditation.mp4"></video>
            </div>
        </div>
    </section>

    <section class="about">
        <div id="our-story" class="our-story">
            <h2>Our story...</h2>
            <p>
                Always a student, Zara has immersed herself in the ancient practices
                of yoga for over thirty years. A global yoga teacher, she shares the
                teachings from the heart. Through curiosity, devotion, and dedication
                she creates a unique approach to living yoga.
            </p>
        </div>
        <img src="./assets/our-story.png" alt="our-story" />
    </section>
    <!-- gsap cdn for animation-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
        integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"
        integrity="sha512-YzMW3OzvgtVpIIPPpjnCy8wVTq5slHRrxnLH1oD5dkVjZf8+8DJYd+GYmmWXZNmroTqKXFFzFS3XZ/LBvaNgZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./script.js"></script>
</body>

</html>