<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bithereum | Conveniency. Safety. Privacy.</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Asset&family=Roboto&family=Oswald&family=Martel+Sans:wght@200&family=Montserrat&family=Roboto:ital,wght@0,300;1,300&display=swap');
    </style>

    <script src="https://kit.fontawesome.com/b1efcbdff7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.typekit.net/wyo5rol.css">

    <link rel="shortcut icon" href="icon.ico" type="image/x-icon">

    <style>
        @import url('https://fonts.cdnfonts.com/css/sofia-pro');
    </style>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="bg"></div>


    <div class="wrapper">
        <div class="header">
            <nav class="navbar">
                <div class="brand"><a href="https://kvarunkk.github.io/Bithereum/"><img class="brand-img"
                            src="images/brand-removebg-preview.png"></a></div>
                <div class="menu-btn" id="button1">
                    <div class="menu-btn__burger" id="inner_btn"></div>
                </div>
                <div class="list-items">
                    <ul class="list">
                        <li class="item"><a href="#">Invest Now</a></li>
                        <li class="item"><a href="#">Download App</a></li>
                        <li class="item"><a href="#">Markets Today</a></li>
                        <li class="item"><a href="#">Why Us?</a></li>
                        <li class="item"><a href="#">Know More</a></li>
                        <li class="item onlyMobile"><a href="#">Start Learning</a></li>
                    </ul>
                    <ul class="list1">
                        <li class="item"><a href="#">Invest Now</a></li>
                        <li class="item"><a href="#">Download App</a></li>
                        <li class="item"><a href="#">Markets Today</a></li>
                        <li class="item"><a href="#">Why Us?</a></li>
                        <li class="item"><a href="#">Know More</a></li>
                        <li class="item onlyMobile"><a href="#">Start Learning</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="main">
            <div class="introduction">
                <div class="intro-text">
                    <div class="heading">Bithereum</div>
                    <div class="sub-heading">Conveniency. Safety. Privacy. </div>
                    <div class="div-buttons">
                        <a class="div-btn btn1" href="#">Invest Now</a>
                        <a class="div-btn btn2" href="#">Start Learning</a>
                    </div>
                </div>
                <div class="intro-img">
                    <img class="d-image" src="images/Vectary texture(1).png">
                </div>
            </div>
            <div class="about">

                <div class="carousal">
                    <div class="carousal-inner inner1 ">
                        <div class="carousal-text ct1 reveal">
                            <b>Bithereum</b> provides the opportunity to exclusively invest in the BEST cryptocurrencies
                            out there, <a target="_blank" href="https://bitcoin.org/en/">Bitcoin</a> & <a
                                target="_blank" href="https://ethereum.org/en/">Ethereum</a>.
                        </div>
                        <div class="carousal-img ct-img1">
                            <img class="app-img img1" src="images/Vectary texture(3).png">
                        </div>
                    </div>

                    <div class="carousal-inner inner2 ">
                        <div class="carousal-img ct-img2">
                            <img class="app-img img2" src="images/Vectary texture(6).png">
                        </div>
                        <div class="carousal-text ct2 reveal">
                            Join the community of thousands of Investors, learn from the best, participate in community
                            events & become a better Investor!
                        </div>

                    </div>

                    <div class="carousal-inner inner3 ">
                        <div class="carousal-text ct3 reveal">
                            Trade in crypto whenever & wherever you want with just one touch!
                        </div>
                        <div class="carousal-img ct-img3">
                            <img class="app-img img3" src="images/Vectary texture(4).png">
                        </div>
                    </div>

                </div>
            </div>

            <div class="reviews">
                <div class="slidercontainer">
                    <div class="showSlide fade">


                        <div class="reviews-text">
                            "Bithereum mobile app is very convenient to use and the process is easy to understand!"
                            <br>
                            <br>
                            <span>Mahesh</span><br>
                            <span>Sr. Consultant at BCG</span>
                        </div>


                    </div>
                    <div class="showSlide fade">


                        <div class="reviews-text">
                            "Bithereum's community has some of the best crypto traders out there. I get to learn so
                            much from them each day!"
                            <br>
                            <br>
                            <span>Raj</span><br>
                            <span>SDE at Nvidia</span>
                        </div>


                    </div>

                    <div class="showSlide fade">


                        <div class="reviews-text">
                            "I trust Bithereum, you should give it a try too. I'm sure you'll love it"
                            <br>
                            <br>
                            <span>Anushka</span><br>
                            <span>PM at Google</span>
                        </div>

                    </div>

                    <!-- Navigation arrows -->
                    <div class="arrows">
                        <a class="left" onclick="nextSlide(-1)">❮</a>
                        <a class="right" onclick="nextSlide(1)">❯</a>
                    </div>
                </div>
            </div>

            <div class="features">
                <div class="feat ">
                    <div class="feat-img">
                        <img src="images/icons8-bitcoin-144.png">
                        <img src="images/icons8-ethereum-144.png">
                    </div>
                    <div class="feat-text reveal">
                        <b>Less Noise, More Focus.</b>
                        <div class="feat-content">
                            We focus only on BTC & ETH to help you increase your returns like never before!
                        </div>
                    </div>

                </div>
                <div class="feat ">
                    <div class="feat-img ">
                        <img src="images/insurance.png">
                    </div>
                    <div class="feat-text reveal">
                        <b>Safe & Secure</b>
                        <div class="feat-content">
                            Safety is our priority. Every transaction goes through 3 levels of security checks.
                        </div>
                    </div>
                </div>
                <div class="feat ">
                    <div class="feat-img ">
                        <img src="images/discount.png">
                    </div>
                    <div class="feat-text reveal">
                        <b> 0% Commission</b>
                        <div class="feat-content">
                            Commission free transactions provide you with the motivation to buy more.
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-div">
                <div class="bottom-head">
                    Start Investing In Just 3 Steps
                </div>
                <div class="inner-bottom">
                    <div class="bottom-text">

                        <ul>
                            <li class="reveal">
                                <span class="font">1</span> <span>Sign up for your <b>Bithereum</b> account</span>
                            </li>
                            <li class="reveal">
                                <span class="font">2</span> <span>Verify your Identity</span>
                            </li>
                            <li class="reveal">
                                <span class="font">3</span> <span>Buy Crypto with as little as $1</span>
                            </li>
                        </ul>
                    </div>
                    <div class="div-buttons2">
                        <a class="div-btn btn1" href="#">Invest Now</a>
                        <a class="div-btn btn2" href="#">Start Learning</a>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <div class="footer">
            <div class="inner-footer">
                <div class=" common socials">
                    <div class="app-text">
                        Connect with us
                    </div>
                    <div class="social-inner">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                <div class=" common table1">
                    <div class="app-text">
                        Instruments
                    </div>
                    <div class="table-list">
                        <ul>
                            <li>Bitcoin</li>
                            <li>Ethereum</li>
                        </ul>
                    </div>
                </div>
                <div class=" common table2">
                    <div class="app-text">
                        Support
                    </div>
                    <div class="table-list">
                        <ul>
                            <li>Help Center</li>
                            <li>How to Open an Account</li>
                            <li>How to verify your account</li>
                            <li>Customer Service</li>
                        </ul>
                    </div>
                </div>
                <div class=" common app">
                    <div class="app-text">
                        Download <b>Bithereum</b> Mobile App
                    </div>
                    <div class="app-inner">
                        <i class="fa-brands fa-app-store"></i>
                        <i class="fa-brands fa-google-play"></i>
                    </div>
                </div>
                <div class="common form">
                    <div class="app-text">
                        Sign Up for Newsletter
                    </div>
                    <div class="inner-form">
                        <form>
                            <input type="email" name="text" placeholder="Enter your Email">
                            <button type="submit" value="Submit">SIGN UP</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="para">
                Past performance is not an indication of future results<br>
                General Risk Disclosure | Terms & Conditions<br><br>

                You should seek advice from an independent and suitably licensed financial advisor and ensure that you
                have the risk appetite, relevant experience and knowledge before you decide to trade. Under no
                circumstances shall Bithereum have any liability to any person or entity for any direct, indirect,
                special, consequential or incidental damages whatsoever. Cryptocurrencies markets are unregulated
                services which are not governed by any specific European regulatory framework (including MiFID).
                Therefore when using our Cryptocurrencies Trading Service you will not benefit from the protections
                available to clients receiving MiFID regulated investment services, such as access to the Cyprus
                Investor Compensation Fund (ICF)/the Financial Services Compensation Scheme (FSCS) and the Financial
                Ombudsman Service for dispute resolution. Trading with Bithereum by following and/or copying or
                replicating the trades of other traders involves a high level of risks, even when following and/or
                copying or replicating the top-performing traders. Such risks includes the risk that you may be
                following/copying the trading decisions of possibly inexperienced/unprofessional traders, or traders
                whose ultimate purpose or intention, or financial status may differ from yours. Past performance of an
                Bithereum Community Member is not a reliable indicator of his future performance. Content on Bithereum's
                social trading platform is generated by members of its community and does not contain advice or
                recommendations by or on behalf of Bithereum - Your Social Investment Network.
                Copyright © 2006-2022 Bithereum - Your Social Investment Network, All rights reserved.
            </div>
        </div>
    </div>

    <script src="index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



</body>

</html>