<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./style.css">

    <title>Document</title>
</head>
<body>
    <nav class="navbar">
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
      </label>
        <div class="brand">
          <img src="./Images/CE1.png" alt="">
        <h1>Coders Evoke</h1>
      </div>
         <div class="from">
        <ul>
           <li><a href="#">Home</a></li>
           <li ><a href="#">About us</a>
            <ul class="drop">
                <li><a href="#">Link-1</a></li>
                <li><a href="#">Link-2</a></li>
                <li><a href="#">Link-3</a></li>
            </ul>
        </li>
           <li ><a href="#">Services</a>
           <ul class="drop">
            <li><a href="#">Link-1</a></li>
            <li><a href="#">Link-2</a></li>
            <li><a href="#">Link-3</a></li>
        </ul>
    </li>
           <li><a href="#">Contact us</a></li>
      </ul>  
    </div>
</nav>
</body>
</html>