
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Zen+Antique&family=Zen+Old+Mincho&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
  
  background: linear-gradient(0deg,#99ccff,#ff99ff,#9999ff,#e699ff,#ff99cc,#99e6ff);
  background-position: 100%;
  
}
/* faqs */
#faqs{

 height:100%;
 padding: 50px 0;
}
#faqs h1{
	font-weight:900;
	font-size: 34px;
	text-align: center;
	padding: 20px 0 50px 0;
}
#faqs h3{
	font-family: 'Zen Old Mincho', serif;
	line-height: 1.6;
	overflow: hidden;
	color: white;
	background-color:#8533ff;
}
.accordian .card{
	border-radius: 0;
	background: none;
	border-left-width: 0;
	border-right-width: 0;
}
.accordian .card .card-header{
	background: none;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius:0;
}
.accordian .card .card-header h2{
	font-family: 'Zen Antique', serif;
	font-size: 28px;
	
}
.accordian .card .card-header btn{
	
	text-align:left;
	padding-left:0;
	padding-right:0;
	justify-content: space-between;
}
.accordian .card .card-header i{
	font-size:1.3 rem;
	position: absolute;
	top: 15px;
	right:1rem;
}
.accordian .card .card-body{
	color: #666;
}
