#about-section {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about{
    width: 50rem;
}

#about-section h2,
#about-section p {
    margin-top: 1rem;
  text-align: center;
}
