<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="about.css">
    <script defer src="script.js"></script>
</head>

<body>
    <header id="header">
        <h1 id="logo">KnowledgeON</h1>
        <nav id="nav-bar">
            <ul>
                <li class="nav-list">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li class="nav-list">
                    <a href="about.html">
                        About
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="about-section">
        <div id="about">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dignissimos ut nesciunt explicabo neque distinctio aperiam aliquam amet nostrum soluta voluptate rerum exercitationem natus architecto corporis quis minima repellat nulla sed, est quasi eligendi! Dolore quaerat in amet quisquam optio a itaque sequi maxime, assumenda dolorum dolor libero! Laborum dolore quaerat deleniti architecto, nesciunt magni est hic dolores modi obcaecati? Fuga excepturi natus reiciendis, fugiat corporis nobis eius illum eaque quasi commodi placeat veniam unde iusto minus delectus pariatur incidunt quia, dignissimos totam ut? Voluptas nam odio doloribus tempora illum commodi atque, a nobis, quo quaerat modi eos magni corporis hic unde? Nobis mollitia nemo at delectus perspiciatis eligendi? Ipsum laborum nobis temporibus natus harum quasi inventore et, dignissimos numquam!</p>
        </div>
    </section>
</body>

</html>