<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
</head>

<body>
    <header id="header">
        <h1 id="logo">Hactoberfest Library</h1>
        <nav id="nav-bar">
            <ul>
                <li class="nav-list">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li class="nav-list">
                    <a href="about.html">
                        About
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="banner">

        <div id="banner-content">

            <div id="banner-read">
                <h1> Books are the quietest and most constant of friends; <br>they are the most accessible and wisest of
                    counselors, and<br> the most patient of teachers.</h1>
                <button id="Start-now">Start Reading Today</button>
            </div>

            <div id="banner-visual">
                <img src="../../img/BookTemplate.png" alt="book" height="400">
            </div>

        </div>
    </section>
</body>

</html>