<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnezz</title>
    <link rel="icon" type="image/png" sizes="48x48" href="/images/fitnezz_favicon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/fitnezz_favicon.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/images/fitnezz_favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/fitnezz_favicon.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/images/fitnezz_favicon.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/images/fitnezz_favicon.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/fitnezz_favicon.png">
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="logo">
            Fitne<span style="color: purple;">zz</span>
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>

        <div class="button">
            <button class="btn2 grow">Become a member</button>
        </div>

    </header>
    <div class="body">


        <div class="banner">
            <div class="head">
                Health is Wealth
            </div>
            <div class="topic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corporis esse fugit minus vel mollitia
                quasi
                incidunt voluptate dicta expedita cumque quas, saepe deserunt.
            </div>
            <div>
                <button class="butns">Join Today</button>
            </div>
        </div>
    </div>


    <section class="featureclass">

        <h1>FEATURED CLASSES</h1>

        <div class="grid">
            <div class="card">
                <div class="img">
                    <img src="./images/chest_day.jpg" alt="">
                </div>
                <div class="content">
                    <h2 class="title">Chest Workout</h2>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="./images/back_day.jpg" alt="">
                </div>
                <div class="content">
                    <h2 class="title">Back Workout</h2>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="./images/leg_day.jpeg" alt="">
                </div>
                <div class="content">
                    <h2 class="title">Leg Workout</h2>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="./images/arm_day.jpg" alt="">
                </div>
                <div class="content">
                    <h2 class="title">Arm Workout</h2>
                </div>
            </div>
        </div>

    </section>


    <section class="scheduledclass">

        <div class="topscheduledclass">
            <h1>SCHEDULED CLASS</h1>
        </div>

        <div class="grid">
            <div class="card">
                <div class="img">
                    <img src="./images/leg_day.jpeg" alt="" srcset="">
                </div>
                <div class="content">
                    <h2 class="title">Leg Workout</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, possimus!</p>
                    <span class="time">Sunday, 5:30am - 7:30</span>
                    <button class="btn">Join now</button>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="./images/arm_day.jpg" alt="">
                </div>
                <div class="content">
                    <h2 class="title">Arm Workout</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, possimus!</p>
                    <span class="time">Sunday, 5:30am - 7:30</span>
                    <button class="btn">Join now</button>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="./images/chest_day.jpg" alt="" srcset="">
                </div>
                <div class="content">
                    <h2 class="title">Chest Day</h2>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, possimus!</p>
                    <span class="time">Sunday, 5:30am - 7:30</span>
                    <button class="btn">Join now</button>
                </div>
            </div>

            <div class="card">
                <div class="img">
                    <img src="./images/back_day.jpg" alt="">
                </div>
                <div class="content">
                    <h2 class="title">Back Workout</h2>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, possimus!</p>
                    <span class="time">Sunday, 5:30am - 7:30</span>
                    <button class="btn">Join now</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <form>
            <fieldset>
                <span id="register-text">Registration</span>
                <div id="main-form-inside"></div>
                <div class="group">
                    <label for="Name" id="name-id">Your Name</label> <br>
                    <input type="text" id="Name" name="Name" class="user-input" required> <br> <br>
                </div>

                <div class="group">
                    <label for="Gender">Gender</label> <br>
                    <input type="text" id="Gender" name="Gender" class="user-input" required>
                    <option>
                        <br> <br>
                        <!-- 
                Gender in DropDown Menu (You can use this as well :D)
                <select id="Gender" name="Gender" class="user-input" required>
                <option value="male">Choose</option>    
                <option value="male">Male</option>
                <option value="male">Female</option>
                <option value="male">Other</option>
                </select>
                -->
                </div>

                <div class="group">
                    <label for="Age">Age</label> <br>
                    <input type="text" id="Age" name="Age" class="user-input" required> <br> <br>
                </div>

                <div class="group">
                    <label for="Email">Email</label> <br>
                    <input type="email" id="Email" name="Email" class="user-input" required> <br> <br>
                </div>

                <div class="group">
                    <label for="phone">Contact Number</label> <br>
                    <input type="tel" id="phone" name="phone" class="user-input" required> <br> <br>
                </div>

                <div class="group">
                    <button id="form-submit-button">Register</button>
                </div>
                <div id="form-inside"></div>
            </fieldset>
        </form>
        <br>
        <br>
    </footer>
    <script src="script.js"></script>
</body>

</html>