body {
    font-family: "Open Sans",sans-serif;
    font-size: 10pt;
    color: #fff;
    background-image: url(https://images.pexels.com/photos/1291515/pexels-photo-1291515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }  
  h1 {
    margin-top: 10px;
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.60em;
    color: #fff;
   }
  .list-group-item {
    font-size: 1.4em;
    background-color: #000000;
    color: #f5f5f5;
    box-shadow: #fff;
  }
  
  h3.list-group-item {
    background-color: #f5f5f5;
    font-weight: 300;
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 15px 7px;
  }
  .list-group-item .icon-wrapper {
    display: inline-block;
    width: 35px;
    margin-right: 120px;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-group-item .icon-wrapper i {
    font-size: 1.5em;
  }