<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="try.css">
</head>
<body>
    <div class="container">
        <div class="item item-1">item-1</div>
        <div class="item item-2">item-2</div>
        <div class="item item-3">item-3</div>
        <div class="item item-4">item-4</div>
        <div class="item item-5">item-5</div>
        <div class="item item-6">item-6</div>
        <div class="item item-7">item-7</div>
    </div>
</body>
</html>