<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cafe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="assets\sign (1).png" type="image/x-icon">
</head>
<body>
     <!-- Navbar begins -->
     <div class="navbar">
        <div class="logo">
            <div class="logoImg">
                <a href="./index.html#home"> <img src="assets\sign (1).png" alt=""></a> 
            </div>
            <div class="logoText">CAFE</div>
        </div>
        <div class="navLinks">
            <ul>
               <a href="./index.html#home" class="navLink">
                   <li>Home</li>
               </a>
               <a href="./index.html#services" class="navLink">
                <li>Services</li>
            </a>
            <a href="./index.html#booking" class="navLink">
                <li>Booking</li>
            </a>
            <a href="about.html" class="navLink">
                <li>About Us</li>
            </a>
            </ul>
        </div>
        <span class="material-icons">
            menu    
            </span>
    </div>
    <!-- Navbar ends -->

    <div class="about">
        <div class="background">
        <div class="pic">
            <img src="assets\nathan-dumlao-zUNs99PGDg0-unsplash.jpg" alt="">
        </div>
    </div>
        <div class="content">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore rem beatae blanditiis repellat minus, doloribus quaerat placeat ab, itaque necessitatibus sit voluptatem ad ratione. Ipsam facere maiores atque molestias voluptatibus?
            Totam dolor quas eligendi odio incidunt debitis deserunt aliquid consequuntur eaque similique asperiores dicta, accusantium consequatur tenetur, voluptatem iure fuga eos ducimus! Odio incidunt provident voluptates sit, voluptas dolorum ea.
            Deleniti nesciunt molestiae magni illum dolor, delectus id, rerum inventore ea odio velit voluptatem dicta totam incidunt repellendus quaerat. Perspiciatis iusto nisi in. Iusto dolorum dolores, quia sunt iste quae.
           </div>
    </div>

    <footer id="footer">
        <div class="footer">
            <div class="content1">
                <h2>Get In Touch!</h2>
                <p>Phone : +91 8000800080</p>
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                </div>
            </div>

            <div class="content2">
                <div class="address">
                    <div class="addTitle">Address :</div>
                    <div class="addContent">
                        <p>52, Enclave Colony  </p>
                        <p>Indore, M.P 450031</p>
                    </div>
                </div>
            </div>

            <div class="name">
                <div>CAFE</div>
                <div>Good days start with coffee and you!</div>
            </div>
            <div class="pic">
                <img src="assets\harris-vo-JpQGEArmG0I-unsplash.jpg" alt="">
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js" integrity="sha512-DlTk2PLUinhBupE89kHOJTt11QqbRMQVlbb26XVDvp4D1kt0fRvQJslvZnTelRJHq6yK0tIPCR7cul8+9Blz0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="app.js"></script>
</body>
</html>