<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cafe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="assets\sign (1).png" type="image/x-icon">
</head>
<body>
    <!-- Navbar begins -->
    <div class="navbar">
        <div class="logo">
            <div class="logoImg">
                <a href="#home"> <img src="assets\sign (1).png" alt=""></a> 
            </div>
            <div class="logoText">CAFE</div>
        </div>
        <div class="navLinks">
            <ul>
               <a href="#home" class="navLink">
                   <li>Home</li>
               </a>
               <a href="#services" class="navLink">
                <li>Services</li>
            </a>
            <a href="#booking" class="navLink">
                <li>Booking</li>
            </a>
            <a href="about.html" class="navLink">
                <li>About Us</li>
            </a>
            </ul>
        </div>
        <span class="material-icons">
            menu    
            </span>
    </div>
    <!-- Navbar ends -->

    <!-- Got to top button begins -->
    <div class="circleBtn">
        <span class="material-icons">
            expand_less
            </span>
    </div>
    <!-- Go to top button ends -->

    <!-- Hero Section Begins -->
    <div class="hero" id="home">
    <div class="overlay">
        <div class="text">
            Welcome to the Cafe!
        </div>
        <a href="./about.html#footer" class="btn">Explore</a>
    </div>       
    </div>
    <!-- Hero Section Ends -->

    <!-- Services section begins -->
    <div class="services" id="services" data-aos="fade-up">
        <div class="heading">
            Services
        </div>
        <div class="cardRow">
            <div class="card">
            <div class="icon">
                <span class="material-icons">
                    coffee_maker
                    </span>
            </div>
            <div class="cardTitle">
                Coffee
            </div>
            <div class="cardContent">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet debitis eos, facilis nulla facere ducimus itaque necessitatibus consequatur culpa voluptatibus!
            </div>
            </div>
            <div class="card">
                <div class="icon">
                    <span class="material-icons">
                        delivery_dining
                        </span>
                </div>
                <div class="cardTitle">
                    Delivery
                </div>
                <div class="cardContent">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt amet rerum exercitationem commodi et ipsam aut odit labore magnam qui. 
                </div>
                </div>
                <div class="card">
                    <div class="icon">
                        <span class="material-icons"> 
                            restaurant_menu
                            </span>
                    </div>
                    <div class="cardTitle">
                        Dining
                    </div>
                    <div class="cardContent">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem nulla quae exercitationem similique est? Blanditiis sunt exercitationem accusamus aut nihil.
                    </div>
                    </div>
        </div>
    </div>
    <!-- Services section ends -->

    <!-- Booking Section begins -->
    <div class="booking" id="booking" >
        <div class="overlay">
            <div class="heading">
                Book Now
            </div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, cum.
            </div>
    
            <div class="btnHolder"><a href="#" class="btn">Book Now</a></div>
    
        </div>
           </div>
    <!-- Booking section ends -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js" integrity="sha512-DlTk2PLUinhBupE89kHOJTt11QqbRMQVlbb26XVDvp4D1kt0fRvQJslvZnTelRJHq6yK0tIPCR7cul8+9Blz0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="app.js"></script>
</body>
</html>