<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>apple scrollbar</title>
</head>
<body>
  <section>
    <h2>Apple/ whatsapp Scroll bar</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam vitae eos nam vero expedita, totam assumenda distinctio aliquid, necessitatibus ullam, odio excepturi corrupti quis rerum! Libero aliquam dignissimos exercitationem quam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis libero sint quis repellat maxime neque nostrum consequatur sit nobis debitis saepe dolor labore, totam facere, ea et magni officia
    orem ipsum dolor, sit amet consectetur adipisicing elit. Qui debitis molestiae sequi nobis dignissimos, minima veniam. Voluptate tempore voluptatem nostrum cumque expedita praesentium rerum aspernatur repellendus? Hic sunt laborum nobis!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus sint quos culpa, perspiciatis distinctio, tempora animi excepturi maxime atque similique quis. Quia, vero. Iure dolores deleniti, id quidem delectus ratione.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae maiores cumque quaerat quos illum nostrum fuga illo, expedita facilis voluptatum iusto tenetur aspernatur. Amet at vitae vero mollitia reiciendis non!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem earum commodi perspiciatis, dolorem harum soluta? Blanditiis delectus corporis aut dicta nam omnis. Laboriosam, quidem nostrum officia magnam earum officiis minima?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, veniam laboriosam facere perferendis obcaecati est! Provident, ab fuga sint culpa nihil doloribus. Voluptatum autem corrupti, doloremque similique alias excepturi tempore!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt aliquid architecto cum corporis nulla ullam delectus, optio quisquam veniam fugiat soluta dolore impedit. Quasi, porro. Quod iusto saepe aliquid iure?
    </p>
  </section>
</body>
</html>