<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortfolioLayout</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="stylesheet" href="style.css">

</head>
<body>


<header>

    <div class="user">
        <img src="images/img.jpg" alt="">
        <h3 class="name">Tanjiro</h3>
        <p class="post">XXX</p>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#education">Education</a></li>            
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

</header>


<div id="menu" class="fas fa-bars"></div>


<section class="home" id="home">

    <h3>HI THERE !</h3>
    <h1>I'M <span>tanjiro</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deserunt aspernatur fugiat minus enim ullam repudiandae sint sed magnam tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, at.
    </p>
    <a href="#about"><button class="btn">About me <i class="fas fa-user"></i></button></a>

</section>


<section class="about" id="about">

<h1 class="heading"> <span>About</span> me </h1>

<div class="row">

    <div class="info">
        <h3> <span> Name : </span> tanjiro </h3>
        <h3> <span> Age : </span> XXX </h3>
        <h3> <span> Qualification : </span> XXXX </h3>
        <h3> <span> Post : </span> XXXXXX </h3>
        <h3> <span> Language : </span> XXXX </h3>
        <a href="#"><button class="btn"> Download CV <i class="fas fa-download"></i> </button></a>
    </div>
</div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="script.js"></script>

</body>
</html>