<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Responsive FAQ Accordin Menu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Responsive FAQ Accordin</h2>
        <div class="accordins">
          <div class="accordin-items">
            <button id="accordin-btn1" aria-expanded="false">
              <span class="accordion-title">What is the difference between Office 2021 (one-time purchase) and Microsoft 365 (subscription)?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordins-contents">
            <p>
            Microsoft 365 is a subscription that includes the most collaborative, 
            up-to-date features in one seamless, integrated experience. Microsoft 365 
            includes the robust Office desktop apps that you're familiar with, like Word, 
            PowerPoint, and Excel. You also get extra online storage and cloud-connected features that let you 
            collaborate on files in real time. With a subscription.
            </p>
            </div>
          </div>
          <div class="accordin-items">
            <button id="accordin-btn1" aria-expanded="false">
              <span class="accordion-title">How do I know if my PC or Mac can run Microsoft 365?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordins-contents">
            <p>
            Microsoft 365 is compatible with PC, Mac, Android, and iOS2. See system requirements for compatible versions of your devices, and for other feature requirements.
            </p>
            </div>
          </div>
          <div class="accordin-items">
            <button id="accordin-btn1" aria-expanded="false">
              <span class="accordion-title">Will Microsoft 365 be identical on a PC and a Mac?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordins-contents">
            <p>
                No. Apps are tailored to work best on each operating system. The apps available for Mac 
                users and the specific features included may be different from those available for PC users. 
                With Microsoft 365, you can be flexible. With your account, you are not limited to exclusively Mac or exclusively PC, so you can transition across devices.
            </p>
            </div>
          </div>
          <div class="accordin-items">
            <button id="accordin-btn1" aria-expanded="false">
              <span class="accordion-title">Do I keep control of my documents with a Microsoft 365 subscription?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordins-contents">
            <p>
            Yes. Documents that you have created belong fully to you. You can choose to store them online on OneDrive or locally on your PC or Mac.
            </p>
            </div>
          </div>
          <div class="accordin-items">
            <button id="accordin-btn1" aria-expanded="false">
              <span class="accordion-title">Is Internet access required for Microsoft 365?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordins-contents">
            <p>
                Internet access is required to install and activate all the latest releases of apps and services included in all Microsoft 365 subscription plans. Note that if you are an existing subscriber, you do not need to reinstall or purchase another subscription.
            </p>
            </div>
          </div>
          <div class="accordin-items">
            <button id="accordin-btn1" aria-expanded="false">
              <span class="accordion-title">How many people can use a Microsoft 365 subscription?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordins-contents">
            <p>
                You can share Microsoft 365 Family with 5 other people in your household, for a total of 6 users. Microsoft 365 Personal can be used by one person. 
            </p>
            </div>
          </div>
          <div class="accordin-items">
            <button id="accordin-btn1" aria-expanded="false">
              <span class="accordion-title">How do I share my subscription benefits with members of my family?</span>
              <span class="icon" aria-hidden="true"></span>
            </button>
            <div class="accordins-contents">
            <p>             
            If you have an active Microsoft 365 Family subscription, you can share it with up to 5 members 
            of your household. Each household member you share your subscription with can install Microsoft 
            365 on all their devices and sign in to five devices at the same time.  
            </p>
            </div>
          </div>            
        </div>
      </div>
<script src="script.js"></script>
</body>
</html>