<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card View</title>
    <link rel="stylesheet" href="./card_style.css" />
</head>
<body>
<h1>Template</h1>
<div class="main">
    <div class="container" id="b1">
        <img src="./images/Sample_image1.jpeg" alt="img1">
        <h2>Heading 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, fugit ad. Voluptatibus consequuntur vero reiciendis commodi pariatur provident ab, doloribus labore autem?</p>
        <a href="#" >Read more</a>
    </div>          
    <div class="container" id="b2">
        <img src="./images/Sample_image2.jpeg" alt="img2">
        <h2>Heading 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, numquam rerum voluptatem saepe similique commodi fugiat dolore reiciendis eveniet iure!</p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b3">
        <img src="./images/Sample_image3.jpeg" alt="img3">
        <h2>Heading 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum. Voluptatum doloremque excepturi officiis, rerum beatae commodi exercitationem.</p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b4">
        <img src="./images/Sample_image4.jpeg" alt="img4">
        <h2>Heading 4</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, fugit ad. Voluptatibus consequuntur vero reiciendis commodi pariatur provident ab, doloribus labore autem? Eos aspernatur placeat, porro deleniti sunt quae nobis?</p>
        <a href="#">Read more</a>
    </div>        
    <div class="container" id="b5">
        <img src="./images/Sample_image5.jpeg" alt="img5">
        <h2>Heading 5</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, numquam rerum voluptatem saepe similique commodi fugiat dolore reiciendis eveniet iure!</p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b6">
        <img src="./images/Sample_image6.jpeg" alt="img6">
        <h2>Heading 6</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum.</p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b7">
        <img src="./images/Sample_image7.jpeg" alt="img7">
        <h2>Heading 7</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum.</p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b8">
        <img src="./images/Sample_image8.jpeg" alt="img8">
        <h2>Heading 8</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum.</p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b9">
        <img src="./images/Sample_image9.jpeg" alt="img9">
        <h2>Heading 9</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum. </p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b10">
        <img src="./images/Sample_image10.jpeg" alt="img10">
        <h2>Heading 10</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum.</p>
        <a href="#">Read more</a>
    </div>
    <div class="container" id="b11">
        <img src="./images/Sample_image11.jpeg" alt="img11">
        <h2>Heading 11</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum..</p>
        <a href="#">Read more</a>
    </div>
        <div class="container" id="b12">
            <img src="./images/Sample_image12.jpeg" alt="img12">
            <h2>Heading 12</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vel sed dolor, repellat sunt consequuntur placeat sapiente, aspernatur eligendi, vero adipisci harum. 
            </p>
            <a href="#">Read more</a>
        </div>
</div>
</body>
</html>