<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>career_goals</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <nav>
            <img src="career_goals_logo/119331272.jpg" class="logo">
            <ul>
                <!--<li><a href="#">Help</a></li>-->
                <li><a href="#">Find Support</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
            <div class="career" style="color: white;">
                Choose a Subject
                <br>
                <br>
                <button class="box">COMPUTER SCIENCE</button>
                <br>
                <button class="box">BIO SCIENCE</button>
                <br>
                <button class="box">COMMERCE</button>
                <br>
                <button class="box">ARTS</button>
            </div>
           
    </div>

</body>
</html>