<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./App.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Vibur&display=swap" rel="stylesheet">
    <title>Buttons-Neon</title>
</head>
<body>
    <!-- Button Shape 1 -->
    <button class="Theme-1E-w c1">Click Me</button>
    <button class="Theme-2E c2">Click Me</button>
    <button class="Theme-3E c3">Click Me</button>
    <button class="Theme-4E c4">Click Me</button>
    <button class="Theme-5E c5">Click Me</button>
    <button class="Theme-1V-w c1">Click Me</button>
    <button class="Theme-2V c2">Click Me</button>
    <button class="Theme-3V c3">Click Me</button>
    <button class="Theme-4V c4">Click Me</button>
    <button class="Theme-5V c5">Click Me</button>
    <!-- Button shape 2 -->
    <button style="border-radius: 15px;"class="Theme-1E-w c1">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-2E c2">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-3E c3">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-4E c4">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-5E c5">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-1V-w c1">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-2V c2">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-3V c3">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-4V c4">Click Me</button>
    <button style="border-radius: 15px;"class="Theme-5V c5">Click Me</button>
    <!-- Button Shape 3 -->
    <button style="border-radius: 50px;"class="Theme-1E-w c1">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-2E c2">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-3E c3">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-4E c4">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-5E c5">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-1V-w c1">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-2V c2">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-3V c3">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-4V c4">Click Me</button>
    <button style="border-radius: 50px;"class="Theme-5V c5">Click Me</button>
    <!-- Button Shape 4 -->
    <button style="border-radius: 100%;"class="Theme-1E-w c1">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-2E c2">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-3E c3">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-4E c4">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-5E c5">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-1V-w c1">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-2V c2">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-3V c3">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-4V c4">Click Me</button>
    <button style="border-radius: 100%;"class="Theme-5V c5">Click Me</button>


    <!-- Button Type 2 -->
    <!-- Shape 1 -->
    <button class="Type-2a btn2">Click Me</button>
    <button class="Type-2b btn2">Click Me</button>
    <button class="Type-2c btn2">Click Me</button>
    <button class="Type-2d btn2">Click Me</button>
    <button class="Type-2e btn2">Click Me</button>
    <!-- SHapw 2 -->
    <button style="border-radius: 15px;" class="Type-2a btn2">Click Me</button>
    <button style="border-radius: 15px;" class="Type-2b btn2">Click Me</button>
    <button style="border-radius: 15px;" class="Type-2c btn2">Click Me</button>
    <button style="border-radius: 15px;" class="Type-2d btn2">Click Me</button>
    <button style="border-radius: 15px;" class="Type-2e btn2">Click Me</button>
    <!-- Shape 3 -->
    <button style="border-radius: 50px;" class="Type-2a btn2">Click Me</button>
    <button style="border-radius: 50px;" class="Type-2b btn2">Click Me</button>
    <button style="border-radius: 50px;" class="Type-2c btn2">Click Me</button>
    <button style="border-radius: 50px;" class="Type-2d btn2">Click Me</button>
    <button style="border-radius: 50px;" class="Type-2e btn2">Click Me</button>
    <!-- Shape 4 -->
    <button style="border-radius: 100%;" class="Type-2a btn2">Click Me</button>
    <button style="border-radius: 100%;" class="Type-2b btn2">Click Me</button>
    <button style="border-radius: 100%;" class="Type-2c btn2">Click Me</button>
    <button style="border-radius: 100%;" class="Type-2d btn2">Click Me</button>
    <button style="border-radius: 100%;" class="Type-2e btn2">Click Me</button>
    
</body>
</html>