* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: url("./abstract-urban-night-light-bokeh-defocused-background.jpg")
    fixed center;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

#searchbar {
  border: none;
  outline: none;
  text-align: center;
  padding: 20px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  box-shadow: 50px 0 0 white;
  border-radius: 20px;
}

#searchImage {
  position: relative;
  top: 5px;
  transition: all 0.5s;
}

#searchImage:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

#clouds,
#cityName {
  background: transparent;
  color: seashell;
  margin-top: 10px;
  text-align: center;
}
#clouds {
  transform: translate(170px, 0);
  width: 100px;
}
span,
h1 {
  text-align: center;
  color: white;
}
.degrees {
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  justify-content: space-evenly;
  transform: translate(120px, 10px);
}

#line {
  width: 450px;
  height: 1px;
  background: white;
  margin-top: 15px;
}

.days {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 440px;
  margin-top: 10px;
}

.weeks,
.dates {
  font-size: 25px;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.dates p {
  margin-top: 5px;
}

.red {
  color: red;
  animation: ease-out infinite redAnime normal 1s;
}
@keyframes redAnime {
  50% {
    color: darkred;
    font-weight: normal;
  }
  100% {
    color: red;
    font-weight: bold;
  }
}
