<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Footer</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="heading">
        <h1>Footer Page </h1>
    </div>

    <!-- Footer section -->
    <footer class="footer-area">
        <div class="footer-wave-box">
            <div class="footer-wave footer-animation"></div>
        </div>
        <div class="main">
            <div class="footer">
                <div class="single-footer">
                    <h4>Connect With us</h4>
                    <p>We’re here to help and answer any question you might have. We look forward to hearing from you
                    </p>
                    <div class="footer-social">
                        <a href="" class="color"><i class="fab fa-facebook-f"></i></a>
                        <a href="" class="color"><i class="fab fa-instagram"></i></a>
                        <a href="" class="color"><i class="fab fa-linkedin-in"></i></a>
                        <a href="" class="color"><i class="fab fa-twitter"></i></a>

                    </div>
                </div>
                <div class="single-footer">
                    <h4>main menu</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-angle-right"></i> Home</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> About us</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Blog</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Events</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Testimonials</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Contact us</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> More Research</a></li>
                    </ul>
                </div>
                <div class="single-footer">
                    <h4>Helpful links</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-angle-right"></i> Services</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Supports</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Privacy Policy</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Terms & Conditions</a></li>
                        <li><a href=""><i class="fas fa-angle-right"></i> Disclaimer</a></li>
                    </ul>
                </div>
                <div class="single-footer">
                    <h4>contact us</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-map-marker-alt"></i> Plot No 47,Amrit Bhavan,Opposite to Axis
                                Bank,Nagpur 440023</a></li>
                        <li><a href=""><i class="fas fa-mobile-alt"></i> +91 9397165725</a></li>
                        <li><a href=""><i class="fas fa-envelope"></i> hi@fashio.com</a></li>
                        <li><a href=""><i class="fas fa-globe"></i> www.fashionworld.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy">
                <p>&copy; shital | All rights reserved |2021 </p>
            </div>
        </div>
    </footer>
</body>

</html>